<div class="container d-flex justify-content-center align-items-center full-height">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4">Registrarse</h3>
    <form (ngSubmit)="onSignup()">
      <!-- nombre -->
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          id="nombre"
          [(ngModel)]="nombre"
          name="nombre"
          class="form-control"
          placeholder="Ingrese su nombre"
          required
        />
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          class="form-control"
          placeholder="Ingrese su correo"
          required
        />
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          class="form-control"
          placeholder="Ingrese su contraseña"
          required
        />
      </div>

      <!-- Botón -->
      <button type="submit" class="btn btn-primary w-100">
        Crear cuenta
      </button>
    </form>
  </div>
</div>

