
<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <div class="navbar">
            <i class="custom-favicon" routerLink="home" type="button"></i>
        </div>      
        <div class="nav justify-content-end">
            <a class="nav-link" routerLink="about" routerLinkActive="active-route">Sobre mí</a>
            <a class="nav-link" routerLink="login" routerLinkActive="active-route">LogIn</a>
            <a class="nav-link" routerLink="signup" routerLinkActive="active-route">Registrarse</a>
        </div>
    </div>
</nav>