<div class="container d-flex justify-content-center align-items-center full-height">
  <img src="fondo1.png" alt="img-fluid" class="fondo">
  <div class="card shadow d-flex flex-row" style="max-width: 900px; width: 100%;">
    
    <img src="/ghibliYo.png" class="img-fluid" 
         style="width: 300px; object-fit: cover;" 
         alt="foto personal">
    
    <div class="card-body">
      <p class="card-text">
        Mi nombre es <strong>Joaquin Avallone</strong>, tengo 27 y soy de Buenos Aires, Argentina.<br><br>
        Actualmente me encuentro realizando la Tecnicatura Universitaria en Programacion en la Universidad Tecnologica Nacional (UTN).
      </p>
      <p>
        Juego elegido:<br><strong>Aim Trainer</strong> es un juego pensado para quienes quieren practicar y mejorar su puntería en entornos 
        digitales. Mediante objetivos que aparecen de forma aleatoria en la pantalla, el jugador debe reaccionar lo más rápido posible 
        para acertar con precisión. Es ideal como entrenamiento para videojuegos de disparos, o simplemente como un desafío de reflejos 
        y concentración.
      </p>
      <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <a href="https://github.com/JoaquinAvallone/AvalloneJoaquin_TP1_Labo4" target="_blank" class="btn btn-primary">GitHub</a>
        <a href="https://www.linkedin.com/in/joaquin-avallone-b6789818a/" target="_blank" class="btn btn-primary">LinkedIn</a>
      </div>
    </div>
    
  </div>
</div>