<!-- 
<div class="d-flex justify-content-center align-items-center full-height">

    <div class="card shadow" style="width: 18rem;">
        <img src="/ghibliYo.png" class="card-img-bottom" alt="foto personal">
        <div class="card-body">
            <p class="card-text">
                Mi nombre es <strong>Joaquin Avallone</strong>, tengo 27 y soy de Buenos Aires, Argentina.<br><br>
                Actualmente me encuentro realizando la Tecnicatura Universitaria en Programacion en la Universidad Tecnologica Nacional (UTN).
            </p>
            <p>Juego propio: <br>
                <strong>Aim Trainer</strong> es un juego diseñado para mejorar la puntería y la precisión con el mouse. El objetivo es entrenar 
                la velocidad de reacción y la coordinación ojo-mano a través de un desafío interactivo.
            </p>
            <div class="d-flex justify-content-center gap-2 mt-3">
                <a href="https://github.com/JoaquinAvallone" class="btn btn-primary">GitHub</a>
                <a href="https://www.linkedin.com/in/joaquin-avallone-b6789818a/" class="btn btn-primary">LinkedIn</a>
            </div>
        </div>
    </div>
</div> -->

<div class="d-flex justify-content-center align-items-center full-height">
  <div class="card shadow d-flex flex-row" style="max-width: 900px; width: 100%;">
    
    <!-- Imagen a la izquierda -->
    <img src="/ghibliYo.png" class="img-fluid" 
         style="width: 300px; object-fit: cover;" 
         alt="foto personal">
    
    <!-- Texto a la derecha -->
    <div class="card-body">
      <p class="card-text">
        Mi nombre es <strong>Joaquin Avallone</strong>, tengo 27 y soy de Buenos Aires, Argentina.<br><br>
        Actualmente me encuentro realizando la Tecnicatura Universitaria en Programacion en la Universidad Tecnologica Nacional (UTN).
      </p>
      <p>
        Juego elegido:<br><strong>Aim Trainer</strong> es un juego pensado para quienes quieren practicar y mejorar su puntería en entornos 
        digitales. Mediante objetivos que aparecen de forma aleatoria en la pantalla, el jugador debe reaccionar lo más rápido posible 
        para acertar con precisión. Es ideal como entrenamiento para videojuegos de disparos, o simplemente como un desafío de reflejos 
        y concentración.
      </p>
      <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <a href="https://github.com/JoaquinAvallone/AvalloneJoaquin_TP1_Labo4" target="_blank" class="btn btn-primary">GitHub</a>
        <a href="https://www.linkedin.com/in/joaquin-avallone-b6789818a/" target="_blank" class="btn btn-primary">LinkedIn</a>
      </div>
    </div>
    
  </div>
</div>