.btn{
    background-color: #1e1e2f;
    border-color: #1e1e2f;
    transition: transform 0.2s;
}
.btn:hover {
    background-color: #6c63ff;
    border-color: #6c63ff;
    transform: scale(1.05);
}


@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: middle;
            transform-origin: middle;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: middle;
            transform-origin: middle;
  }
}


.fondo{
    -webkit-animation: kenburns-bottom 20s ease-out infinite both;
	animation: kenburns-bottom 20s ease-out infinite both;
    position: fixed ;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}